.background-top
{
    margin-top: 50px;
}

.page
{
    margin: 100px 460px;
    display: block;
}

.image-profile
{
    margin-left: 10px;
    display: block;
    width: 330px;
    height: 350px;
    border-radius: 5px;
    background-color: #132d36;
    float: left;
}

.quote
{
    display: block;
    position: absolute;
    margin: 0px 0px 5px 400px;
}

.quote__image-quotes
{
    position: absolute;
    width: 136px;
    height: 85px;
    background-color: #f5f5f5;
    margin-top: 51px;
}

.quote__text
{
    position: absolute;
    margin: 104px 0 0 62px;
    width: 500px;
    line-height: 15px;
    font-size: 28px;
    color: #848484;
    font-style: italic;
    font-family: "Georgia";
}

.quote__author
{
    margin: 205px 0 0 67px;
    font-size: 16px;
    line-height: 42px;
    color: #333333;
    font-weight: 600;
    font-family: "Open Sans";
}

.list
{
    display: block;
    float: left;  
    margin-right: 100px;
    margin-top: 14px;
}

.list__list-name
{
    margin: 0px 11px;
    margin-top: 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #15a98c;
    font-family: "Open Sans";
}

.list__all-list-dots
{
    list-style-type: none;
    padding: 0;
    margin: 15px 26px;
    height: 150px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
}

.list__dots::before
{
    content: "\2022";
}

.list__all-list
{
    padding: 0;
    margin: 15px 33px;
    height: 150px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
}

.сontent
{
    display: block;
    position: absolute;
    margin: 0px 0px 5px 400px;
}

.сontent__text-name-top
{
    font-size: 48px;
    line-height: 39px;
    margin: 48px 0 26px 7px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
}

.сontent__text-name-bottom
{
    font-size: 36px;
    margin: 30px 0 0 0;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}

.сontent__line
{
    width: 64px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
}

.сontent__text-top
{
    margin: 38px 0 0 3px;
    width: 511px;
    height: 200px;
    font-size: 19px;
    line-height: 33px;
    color: #555555;
    font-family: "Georgia";
}

.сontent__text-bottom
{
    margin: 12px 0 0 3px;
    width: 570px;
    height: 200px;
    font-size: 19px;
    line-height: 33px;
    color: #555555;
    font-family: "Georgia";
}

.сontent__message-me
{
    width: 562px;
    height: 263px;
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: "Georgia";
}

.clear
{
    clear: left;
}