.web-page
{
    margin: 0;
    padding: 0; 
}

.page
{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1308px;
}

.top-menu
{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.top-menu__content
{
    display: none;
}

.top-menu__image
{
    margin-right: 6px;
}

.top-menu__block
{
    text-decoration: none;
    display: block;
    float: left;
    padding: 11px 18px 0 18px;
    font-size: 19px;
    line-height: 32px;
    color: #333333;
    font-family: "Georgia";
}

.top-menu__block:hover
{
    background-color: #098d71;
}

.icone
{
    margin-right: 10px;
}

.page-top
{
    background: none;
}

.image-profile
{
    position: relative;
    border-radius: 5px;
    background-color: #132d36;
}

.page-content__image
{
    display: flex;
    justify-content: center;
}

.quote
{
    display: none;
}

.quote__text
{
    line-height: 43px;
    margin-bottom: 0;
    font-size: 28px;
    color: #ffffff;
    font-style: italic;
    font-family: "Georgia";
}

.quote__author
{
    font-size: 16px;
    line-height: 12px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    left: 3px;
    position: relative;
}

.list
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list__list-name
{
    margin: 32px 0 0 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #15a98c;
    font-family: "Open Sans";
}

.list__author-list
{
    list-style-type: none;
    padding: 0;
    margin: 15px 7px;
    height: 150px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
}

.list__dots
{
    position: relative;
    padding-left: 13px;
    line-height: 37px;
    bottom: 3px;
}

.list__dots::before
{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #333;
    position: absolute;
    border-radius: 3px;
    right: 228px;
    top: 15px;
}

.list__movie-list
{
    padding: 0;
    margin: 12px 17px;
    height: 150px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: "Georgia";
}

.list__num-first
{
    position: relative;
    top: 1px;
}

.list__num-second
{
    position: relative;
    top: 2px;
    left: 2px;
}

.сontent
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.сontent__text-name-top
{
    margin-bottom: 0;
    font-size: 48px;
    line-height: 39px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
}

.сontent__text-name-bottom
{
    margin-bottom: 0;
    font-size: 36px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}

.сontent__text-top
{
    max-width: 680px;
    font-size: 19px;
    line-height: 33px;
    color: #555555;
    font-family: "Georgia";
}

.сontent__text-bottom
{
    max-width: 680px;
    font-size: 19px;
    line-height: 33px;
    color: #555555;
    font-family: "Georgia";
}

.content__message-me
{
    display: flex;
    justify-content: center;
}

.message-me__link
{
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: "Georgia";
}

.background-center
{
    position: relative;
    bottom: 159px;
    background-color: #f9f9f9;
}

.content-center
{
    left: 1px;
    max-width: 1240px;
    position: relative;
    display: block;
}

.content-center__content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-center__content-name
{
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
}

.content-center__blog-name
{
    position: relative;
    right: 2px;
    font-size: 22px;
    line-height: 27px;
    color: #333333;
    font-weight: 700;
    font-family: "Open Sans";
}

.content-center__blocks
{
    margin-top: 60px;
}

.content-center__text
{
    position: relative;
    bottom: 3px;
    max-width: 285px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia";
}

.content-center__more-informaion
{
    margin: 35px 0 170px;
    display: flex;
    justify-content: center;
}

.buttom
{
    border: none;
    border-radius: 5px;
    background-color: #15a98c;
    width: 220px;
    height: 50px;
}

.buttom-name
{
    font-size: 19px;
    line-height: 32px;
    color: #f5f5f5;
    font-family: "Georgia";
}

.input__buttom:hover
{
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #098d71;
}

.check-in
{
    position: relative;
    bottom: 137px;
}

.check-in__block-name
{
    display: flex;
    justify-content: center;
}

.check-in__name
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
}

.check-in__input
{
    display: flex;
    flex-direction: column;
}

.check-in__block
{
    display: block;
}

.check-in__input-block-name
{
    margin: 34px 0 4px 0;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}

.check-in__entry-field
{
    padding-left: 17px;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans";
    height: 43px;
    border-radius: 3px;
    border: 2px solid #c4c4c4;
    outline: none;
}

.check-in__select
{
    padding-left: 17px;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans";
    border: 2px solid #c4c4c4;
    width: 238px;
    height: 49px;
    border-radius: 3px;
    outline: none;
}

.check-in__entry-field:hover,
.check-in__entry-field:focus
{
    border: 2px solid #45c3aa;
}

.check-in__select:hover,
.check-in__select:focus
{
    border: 2px solid #45c3aa;
}

.check-in__choice-name
{
    margin: 68px 0 4px 0;
    font-size: 20px;
    line-height: 2px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
}

.check-in__choice
{
    margin-right: 39px;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    font-weight: 400;
    font-family: "Open Sans";
    float: left;
}

.dot
{
    margin: 0 8px 0 1px;
}

.check-in__text-area
{
    margin: 48px 0 4px 0;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-family: "Open Sans";
}

.text-area
{
    padding-left: 17px;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans";
    border-radius: 3px;
    border: 2px solid #c4c4c4;
    outline: none;
}

.text-area:hover,
.text-area:focus
{
    border: 2px solid #45c3aa;
}

.star
{
    color:red;
}

.input__buttom
{
    margin-top: 54px;
    border: none;
    cursor: pointer;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
}

.footer
{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}

.footer__content
{
    margin-top: 17px;
    font-size: 16px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia";
}

.clear
{
    clear: both;
}

@media screen and (min-width: 561px)
{
    .page-top
    {
        top: 50px;
        position: absolute;
        height: 400px;
        width: 100%;
        background-image: url(../images/background.jpg);
        background-color: #c7b39b;
    }

    .top-menu__block
    {
        padding: 11px 18px 189px 18px;
    }

    .content-center__content
    {
        display: flex;
        justify-content: space-evenly;
    }

    .check-in__input
    {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .check-in__block
    {


        width: 593px;
        display: block;
    }
    
    .check-in__input-block-name
    {
        margin: 34px 0 4px 0;
        font-size: 20px;
        line-height: 32px;
        color: #333333;
        font-weight: 400;
        font-family: "Open Sans";
    }
    
    .check-in__entry-field
    {
        padding-left: 17px;
        font-size: 18px;
        line-height: 32px;
        color: #555555;
        font-weight: 400;
        font-family: "Open Sans";
        width: 516px;
        height: 43px;
        border-radius: 3px;
        border: 2px solid #c4c4c4;
        outline: none;
    }
    
    .check-in__select
    {
        padding-left: 17px;
        font-size: 18px;
        line-height: 32px;
        color: #555555;
        font-weight: 400;
        font-family: "Open Sans";
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("../images/select-background.svg");
        width: 541px;
        height: 49px;
        border-radius: 3px;
        border: 2px solid #c4c4c4;
        outline: none;
    }
    
    .check-in__entry-field:hover,
    .check-in__entry-field:focus
    {
        border: 2px solid #45c3aa;
    }
    
    .check-in__select:hover,
    .check-in__select:focus
    {
        border: 2px solid #45c3aa;
    }
    
    .check-in__choice-name
    {
        margin: 68px 0 4px 0;
        font-size: 20px;
        line-height: 2px;
        color: #333333;
        font-weight: 400;
        font-family: "Open Sans";
    }
    
    .check-in__choice
    {
        margin-right: 39px;
        font-size: 18px;
        line-height: 32px;
        color: #333333;
        font-weight: 400;
        font-family: "Open Sans";
        float: left;
    }

    .check-in__text-area
    {
        margin: 48px 0 4px 0;
        font-size: 20px;
        line-height: 32px;
        color: #333333;
        font-family: "Open Sans";
    }
    
    .text-area
    {
        padding-left: 17px;
        font-size: 18px;
        line-height: 32px;
        color: #555555;
        font-weight: 400;
        font-family: "Open Sans";
        height: 141px;
        width: 516px;
        border-radius: 3px;
        border: 2px solid #c4c4c4;
        outline: none;
    }
    
    .text-area:hover,
    .text-area:focus
    {
        border: 2px solid #45c3aa;
    }
    
    .star
    {
        color:red;
    }
    
    .input__buttom
    {
        margin-top: 54px;
        border: none;
        cursor: pointer;
        width: 220px;
        height: 50px;
        border-radius: 5px;
        background-color: #15a98c;
    }

}

@media screen and (min-width: 1340px)
{
    .top-menu
    {
        margin: 0px 655px 0 123px;
        display: flex;
        justify-content: space-between;
    }
    
    .top-menu__content
    {
        display: inline;
    }

    .page-top
    {
        top: 50px;
        position: absolute;
        height: 400px;
        width: 100%;
        background-image: url(../images/background.jpg);
        background-color: #c7b39b;
    }

    .image-profile
    {
        max-width: 100%;
        margin: 0 64px 48px 0;
        position: relative;
        display: block;
        border-radius: 5px;
        background-color: #132d36;
        float: left;
    }

    .quote
    {
        top: 25px;
        max-width: 959px;
        display: block;
        margin: 0 0 5px;
        position: relative;
    }

    .page-content
    {
        margin-left: 122px;
        display: block;
    }

    .page-content__image
    {
        display: block;
    }

    .content-center__semiblock
    {
        justify-content: space-between;
        display: flex;
    }

    .content-center__blocks
    {
        margin: 23px 20px 0px 0;
    }

    .content-center__content-name
    {
        display: block;
        position: relative;
        top: 35px;
        margin-bottom: 45px;
        font-size: 36px;
        line-height: 42px;
        color: #333333;
        font-family: "Open Sans";
    }
    
    .list
    {
        margin-bottom: 121px;
        display: block; 
        margin-right: 146px;
    }

    .list__list-name
    {
        margin: 32px 0 0 0;
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        color: #15a98c;
        font-family: "Open Sans";
    }

    .list__author-list
    {
        list-style-type: none;
        padding: 0;
        margin: 15px 7px;
        height: 150px;
        font-size: 19px;
        line-height: 36px;
        color: #555555;
        font-family: "Georgia";
    }

    .list__dots
    {
        position: relative;
        padding-left: 13px;
        line-height: 37px;
        bottom: 3px;
    }

    .list__dots::before
    {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        background: #333;
        position: absolute;
        border-radius: 3px;
        right: 1024px;
        top: 15px;
    }

    .list__movie-list
    {
        padding: 0;
        margin: 12px 17px;
        height: 150px;
        font-size: 19px;
        line-height: 36px;
        color: #555555;
        font-family: "Georgia";
    }

    .list__num-first
    {
        position: relative;
        top: 1px;
    }

    .list__num-second
    {
        position: relative;
        top: 2px;
        left: 2px;
    }

    .сontent
    {
        float: right;
        display: block;
        position: relative;
        max-width: 790px;
    }

    .сontent__text-name-top
    {
        display: inline;
        position: relative;
        top: 76px;
        right: 3px;  
        font-size: 48px;
        line-height: 39px;
        color: #333333;
        font-weight: 700;
        font-family: "Open Sans";
    }

    .сontent__text-name-bottom
    {
        position: relative;
        right: 9px;
        top: 5px;
        font-size: 36px;
        color: #333333;
        font-weight: 400;
        font-family: "Open Sans";
    }

    .сontent__text-name-top::after
    {
        margin: 34px 0 123px 0px;
        content: "";
        width: 59px;
        height: 6px;
        border-radius: 3px;
        display: block;
        background-color: #45c3aa;
    }

    .сontent__text-top
    {
        margin-right: 282px;
        max-width: 901px;
        position: relative;
        bottom: 4px;
        right: 7px;
        font-size: 19px;
        line-height: 33px;
        color: #555555;
        font-family: "Georgia";
    }

    .сontent__text-bottom
    {
        position: relative;
        right: 7px;
        bottom: 15px;
        max-width: 565px;
        font-size: 19px;
        line-height: 33px;
        color: #555555;
        font-family: "Georgia";
    }

    .сontent__message-me
    {
        position: relative;
        right: 7px;
        top: 9px;
    }

    .message-me__link
    {
        font-size: 19px;
        line-height: 32px;
        color: #15a98b;
        font-family: "Georgia";
    }

    .content-center__more-informaion
    {
        margin: 40px 389px 205px 330px;
        display: flex;
        justify-content: center;
    }

    .check-in
    {
        position: relative;
        bottom: 137px;
    }

    .check-in__block-name
    {
        display: flex;
        justify-content: center;
    }

    .check-in__name
    {
        margin-right: 119px;
        font-size: 36px;
        line-height: 42px;
        color: #333333;
        font-family: "Open Sans";
    }

    .check-in__name::after
    {
        margin: 23px 26px 0px 21px;
        content: "";
        width: 199px;
        height: 1px;
        border-radius: 3px;
        display: block;
        background-color: #c4c4c4;
        float: right;
    }

    .check-in__name::before
    {
        margin: 23px 21px 0px 24px;
        content: "";
        width: 200px;
        height: 1px;
        border-radius: 3px;
        display: block;
        background-color: #c4c4c4;
        float: left;
    }

    .buttom
    {
        border: none;
        cursor: pointer;
        width: 220px;
        height: 50px;
        border-radius: 5px;
        background-color: #15a98c;
    }

    .buttom:hover
    {
        width: 220px;
        height: 50px;
        border-radius: 5px;
        background-color: #098d71;
    }
}